# Specific files and folders
_Binary/*D.exe
_Binary/*D.cfg
Z_DELETE

# Compiled Object files
*.slo
*.lo
*.o

# Visual Studio specifics
*.suo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.sdf
*.opensdf

# Interpreter
*.stackdump
*.opendb
*.db
.vs/
_Binary/*_d.ini
/include/glm/out/build/x64-Debug/VSInheritEnvironments.txt
/include/glm/out/build/x64-Debug/Testing/Temporary/LastTest.log
/include/glm/out/build/x64-Debug/Testing/Temporary
/include/glm/out/build/x64-Debug/rules.ninja
/include/glm/out/build/x64-Debug/cmake_install.cmake
/include/glm/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/include/glm/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/include/glm/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/include/glm/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/include/glm/out/build/x64-Debug/CMakeFiles/ShowIncludes
/include/glm/out/build/x64-Debug/CMakeFiles/feature_tests.cxx
/include/glm/out/build/x64-Debug/CMakeFiles/feature_tests.c
/include/glm/out/build/x64-Debug/CMakeFiles/feature_tests.bin
/include/glm/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/include/glm/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeSystem.cmake
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeRCCompiler.cmake
/include/glm/out/build/x64-Debug/CMakeCache.txt
/include/glm/out/build/x64-Debug/build.ninja
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdCXX
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdC
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeDetermineCompilerABI_C.bin
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeCXXCompiler.cmake
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeCCompiler.cmake
/include/glm/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2
/include/glm/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/index-2019-10-07T19-08-15-0816.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/target-glm_dummy-Debug-002ad79f4e37116079ad.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-34962a17d7d01912264b.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-6f593fe8963de6440cb1.json
/include/glm/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-60f776fdf8f33f7ef8a7.json
